pandas
plotly
dash
dash-bootstrap-components
opencv-python
av
ffmpeg-python
tqdm
moviepy
vidgear
google-cloud-videointelligence
pymediainfo
Pillow
PyYAML
torch
torchvision
torchaudio
ultralytics
transformers
einops
timm
tqdm
matplotlib
pipreqs
pylint
numpy
python_dateutil
termcolor